body {
  background-color:#EAF6F6;
}
img{
  border-radius: 100%;
}
hr{
  border-style: none;
  border-color: grey;

  border-width: 5px;
  border-top-style: dotted;
  width: 5%;
}
h1{
  color: #61BFBF;
}

h3{
  color: #61BFBF;
}
